#footer {
  background-color: var(--light-blue);
  font-family: var(--font-gilda-display);
  color: var(--teal);
  .wrapper {
    padding: 4rem 1rem;

    .col-title {
      color: var(--cream);
      opacity: 0.8;
    }

    .social-link a {
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: var(--teal);
      color: var(--light-blue);
      transition: ease-in-out 500ms;
    }
    .social-links a:hover {
      background-color: var(--light-blue);
      color: var(--teal);
      border: 2px solid var(--teal);
      scale: 1.1;
    }
    .email a:hover {
      color: var(--blush-orange);
    }
  }
}
